<h1>Kinect Test</h1>
<div class="listener">
    {{#kinect-listener as |bodies|}}
        {{kinect-visualizer bodies=bodies}}
        {{kinect-debugger bodies=bodies}}
    {{/kinect-listener}}
</div>

{{outlet}}
